# Title & stuff
title: JJTech
subtitle: "Focus? What's that?"
description: >- # this means to ignore newlines until "baseurl:"
 A personal blog where I write about things that interest me,
 and my current projects.

repository: "JJTech0130/jjtech0130.github.io" # for giscus and NWO
logo: &logo "/assets/images/jjtech.jpeg"

name: &author JJTech

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/

include:
  - _pages
  
# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache
  #- jekyll-seo-tag

author:
  name   : *author
  avatar : *logo
  bio    : "10th grade student learning many different languages and technologies"
  links: &links
    - label: GitHub
      icon: "fab fa-fw fa-github"
      url: "https://github.com/JJTech0130"
    - label: Mastodon
      icon: "fab fa-fw fa-mastodon"
      url: "https://infosec.exchange/@jjtech"
    - label: Discord
      icon: "fab fa-fw fa-discord"
      url: "https://discord.com/users/672897428470366208"
    - label: Email
      icon: "fas fa-fw fa-envelope"
      url: "mailto:jjtech@jjtech.dev"

footer:
  links: *links

minimal_mistakes_skin: air
search: true

comments:
  provider: "giscus"
  giscus:
    repo_id: "R_kgDOHvfM4g" # Shown during giscus setup at https://giscus.app
    category_name: "Comments" # Full text name of the category
    category_id: "DIC_kwDOHvfM4s4CQh2k" # Shown during giscus setup at https://giscus.app
    discussion_term: "title"
    reactions_enabled: '0'

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
